/*Botones*/
.boton {
    display: flex;
    height: 3.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex: 1 0 0;
    border-radius: 1.875rem;
    font-size: var(--font-size-buttons);
    font-style: normal;
    font-family: var(--font-family);
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.boton__salir {
    background: #131313;
    color: #FFF;
}

.boton__limpiar {
    background: #0C80EC;
    color: #FFF;
}

.boton svg {
    width: 2rem;
    height: 2rem;
}



/*Aside*/

#brandmanicLogo {
    width: 11.125rem;
    height: 2.9375rem;
    flex-shrink: 0;
    margin: 2rem 0;
}

.aside__botones {
    display: flex;
    padding: 0rem 1.5rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;

}

.filtros {
    display: flex;
    width: 23.375rem;
    height: fit-content;
    padding: 0.9375rem 0rem;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1.875rem;
    background: #F5F5F5;
}

.filtro {
    background: none;
    font-family: var(--font-family);
    border: none;
    display: flex;
    width: 23.6875rem;
    height: 3.0625rem;
    padding: 0rem 2.6875rem;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-submenu);
    cursor: pointer;
}

.filtro svg {
    width: 2rem;
    height: 2rem;
}

.filtro:hover {
    color: #5c5c5c;
}

.filtros__seccion {
    display: flex;
    width: 16.1875rem;
    height: 2.6875rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-size: var(--font-size-submenu);
    font-weight: 700;
    font-family: var(--font-family);
}

.filtro__minmax {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-submenu);
    font-family: var(--font-family);
    height: auto;
    width: 78%;
}

.filtro__minmax--form {
    display: flex;
    align-items: center;
}

.filtro__minmax--boton {
    display: flex;
    width: 3rem;
    height: 3.05rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem 0rem 0rem 1.25rem;
    background: #000;
}

.filtro__minmax--inputCenter {
    width: 3rem;
    height: 2.5rem;
    border-style: 1px solid black;
    border-radius: 0rem;
    font-size: var(--font-size-normal);
    text-align: center;

}

.filtro__minmax--inputRight {
    border-radius: 0rem 1.25rem 1.25rem 0rem;
    border-style: 1px solid black;
    width: 3rem;
    height: 2.5rem;
    font-size: var(--font-size-normal);
    text-align: center;

}